// Layout em duas colunas
.reserva-evento-container {
  display: flex;
  gap: 1rem;
}

.col {
  flex: 1;
}

// Formulário de vínculo
.form {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.layout {
  display: flex;
  gap: 2rem;
}

.left-column,
.right-column {
  flex: 1;
}

.right-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.save-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
