<div class="user-form-container">
  <p-card class="form-card">
    <h2 class="title">{{ isEdit ? 'Editar Usuário' : 'Novo Usuário' }}</h2>
    <form (ngSubmit)="onSubmit()" #f="ngForm" class="form">
      <div>
        <label for="username">Usuário</label>
        <p-inputText id="username" name="username" [(ngModel)]="user.username" required class="w-full"></p-inputText>
      </div>
      <div>
        <label for="email">Email</label>
        <p-inputText id="email" name="email" [(ngModel)]="user.email" required class="w-full"></p-inputText>
      </div>
      <div>
        <label for="fullName">Nome Completo</label>
        <p-inputText id="fullName" name="fullName" [(ngModel)]="user.fullName" class="w-full"></p-inputText>
      </div>
      <div>
        <label for="password">Senha</label>
        <p-password id="password" name="password" [(ngModel)]="user.password" [feedback]="false" placeholder="Senha" styleClass="w-full" inputStyleClass="w-full" [required]="!isEdit"></p-password>
      </div>
      <p-button type="submit" label="Salvar" [disabled]="!f.valid || isLoading" [loading]="isLoading"></p-button>
      <p-button label="Cancelar" severity="secondary" (onClick)="cancel()" [text]="true"></p-button>
    </form>
  </p-card>
</div>
